@charset "UTF-8";
@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }



body{
height: 100vh;
margin: 0;
display: flex;
}

conttnt{
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-color: lightsteelblue;
}
title{
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
}
